*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-size: inherit;
}

span {
   display: inline-block;
}

img {
   max-width: 100%;
   display: block;
}

input {
   outline: none;
   font-family: inherit;
   font-weight: inherit;
   color: inherit;
   font-size: inherit;
}

body {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 14px;
   background-color: #171c2c;
   color: #ffffff;
   scroll-behavior: smooth;
}
